@import "src/styles.scss";
@import "src/assets/accordion-style.scss";

.page {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.62;
  color: $font-base-color;
  &__title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }

  &__navbar {
    background-color: $color-primary;
    & h1 {
      text-align: end;
      margin-top: 5%;
      font-weight: 600;
      font-size: 34px;
    }
    & img {
      width: 80%;
      text-align: start;
    }
  }
  &__hero-section {
    background-color: $color-tertiary;
    &__title {
      font-size: 34px;
      font-weight: 600;
      line-height: 1.2;       
    }
    &__description {
      font-size: 16px;
      margin: 5% 0;
      & a {
        font-weight: 600;
        text-decoration: none;
        color: $color-primary;
        &:hover {
          color: $color-primary-hover;
        }
      }
    }
    &__banner {
      cursor: pointer;
      border-radius: 5px;
      background-color: black;
      box-shadow: -5px 10px 57px 0 $content-base-box-shadow;
      width: 100%;
      max-height: 100%;
      & iframe {
        width: 100%;
        height: 305px;
      }
      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: $color-secundary;
        border-radius: 5px 5px 0 0;
        padding: 2px;
        width: 100%;
        height: 55px;
        margin-left: 0;
        &--red {
          align-self:center;
          height: 15px;
          width: 15px;
          border-radius: 100%;
          background: red;
        }
        &--orange {
          height: 15px;
          width: 15px;
          align-self:center;
          border-radius: 100%;
          background: orange;
        }
        &--green {
          height: 15px;
          width: 15px;
          align-self:center;
          border-radius: 100%;
          background: green;
        }
        &--search {
          height: 25px;
          width: 70%;
          align-self:center;
          border-radius: 5px;
          background: white;
        }
      }
    }
  }
  &__works-section {
    & a {
      font-weight: 600;
      text-decoration: none;
      color: $color-primary;
      &:hover {
        color: $color-primary-hover;
      }
    }
    &__wrapper {
      margin-top: 86px;
    }
    &__card {
      border-radius: 4px;
      background-color: $color-tertiary;
      box-shadow: -5px 10px 57px 0 $content-base-box-shadow;
      padding: 52px 20px 20px;
      text-align: center;
      position: relative;
      height: 100%;
      &__circle {
        position: absolute;
        top: 0;
        left: 50%;
        background-color: $content-base-box-shadow;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        display: inline-block;
        overflow: hidden;
        transform: translate(-50%,-50%);
        &__inside {
          width: 90px;
          height: 90px;
          background-image: linear-gradient(to bottom right, #F34C28,rgb(245, 104, 72));
          border-radius: 100%;
          position: absolute;
          display: table;
          top: 0;
          left: 50%;
          transform: translate(-50%, 5%);
          &__icon {
          display: table-cell;
          vertical-align: middle;
          color:white;
            &--fontawesome {
              font-size: 35px;
            }
          }
        }
      }
      &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 5% 0;
      }
      &__description {
        text-align: left;
        &__code {
          text-align: left;
          font-size: 12px;
          white-space: pre-wrap;
          border-left: .3rem solid $color-primary;
          overflow-y: hidden;
          background: #f4f5f6;
        }
      }
    }
  }
  &__only-text-section {
    &__title {
      font-size: 22px;
      font-weight: 700;
    }
    &__content {
      font-size: 18px;
      & h4 {
        font-size: 14px;
        font-weight: 700;
      }
      & a {
        font-weight: 600;
        text-decoration: none;
        color: $color-primary;
        &:hover {
          color: $color-primary-hover;
        }
      }
      & p strong {
        color: $color-primary;
      }
      &--image {
        background-color: #f4f5f6;
        padding: 2%;
        border-radius: 4px;        
      }
      &--code {
        text-align: left;
        font-size: 12px;
        white-space: pre-wrap;
        border-left: .3rem solid $color-primary;
        overflow-y: hidden;
        background: #f4f5f6;
        border-radius: 0 4px 4px 0;
      }
    }
  }
  &__text-and-terminal {
    background-color: $color-tertiary;
    &__title {
      font-size: 34px;
      font-weight: 600;
      line-height: 1.2;       
    }
    &__description {
      font-size: 16px;
      margin: 5% 0;
      & a {
        font-weight: 600;
        text-decoration: none;
        color: $color-primary;
        &:hover {
          color: $color-primary-hover;
        }
      }
    }
    &__bash {
      cursor: pointer;
      border-radius: 5px;
      background-color: black;
      box-shadow: -5px 10px 57px 0 $content-base-box-shadow;
      width: 100%;
      max-height: 100%;
      &--code {
        width: 100%;
        height: 305px;
        color: $color-primary;
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $color-primary; 
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $color-primary-hover; 
        }
      }
      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;        
        border-radius: 5px 5px 0 0;
        padding: 2px;
        width: 100%;
        height: 35px;
        margin-left: 0;
        &--close {
          align-self:center;
          height: 15px;
          width: 15px;
          border-radius: 100%;
          background: $color-primary;
        }
        &--other {
          height: 15px;
          width: 15px;
          align-self:center;
          border-radius: 100%;
          background: #a5a5a5;
        }
        &--title {
          height: 25px;
          width: 90%;
          align-self:center;
          border-radius: 5px;
        }
      }
    }
  }
  &__use-case-section {
    &__content {
      font-weight: normal;
      font-size: 15px;
      color: black;
      & code {
        color: $color-primary;
      }
      &--link {
        font-weight: 600;
        text-decoration: none;
        color: $color-primary;
        &:hover {
          color: $color-primary-hover;
        }
      }
    }
  }
  &__footer-section {
    text-align: end;
    &__content {
      &--link {
        font-weight: 600;
        text-decoration: none;
        color: $color-primary;
        &:hover {
          color: $color-primary-hover;
        }
      }
    }
  }
}
