<div class="page">
  <div class="page__navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4">
          <img src="https://miro.medium.com/max/600/0*NV7oSbAQ2WzdOnsm.png" alt="logo git">
        </div>
        <div class="col-md-10 col-sm-8">
          <h1>
            Git do 0 ao I
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="page__hero-section">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-6 col-sm-12">
          <div class="page__hero-section__title">
            História do Git
          </div>
          <div class="page__hero-section__description">
            Git é um sistema de controle de versões distribuído, usado principalmente no desenvolvimento de software, 
            mas pode ser usado para registrar o histórico de edições de qualquer tipo de arquivo (Exemplo: alguns livros digitais são disponibilizados no GitHub e escrito aos poucos publicamente). 
            O Git foi inicialmente projetado e desenvolvido por <a href="https://youtu.be/4XpnKHJAok8"> Linus Torvalds</a> para o desenvolvimento do kernel Linux, mas foi adotado por muitos outros projetos.
            Cada diretório de trabalho do Git é um repositório com um histórico completo e habilidade total de acompanhamento das revisões, não dependente de acesso a uma rede ou a um servidor central. 
            O Git também facilita a reprodutibilidade científica em uma ampla gama de disciplinas, da ecologia à bioinformática, arqueologia à zoologia.            
            O Git é um software livre, distribuído sob os termos da versão 2 da GNU General Public License.
            Sua manutenção é atualmente supervisionada por <a href="https://pt.wikipedia.org/wiki/Junio_Hamano">Junio Hamano</a>.
            <br>
            Para saber como as coisas funcionavam antes da criação do GIT vejam esse vídeo fantástico do <a href="https://www.youtube.com/channel/UCib793mnUOhWymCh2VJKplQ"> Fábio Akita</a>.         
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="page__hero-section__banner">
            <div class="page__hero-section__banner__header row">
              <div class="page__hero-section__banner__header--red"> </div>
              <div class="page__hero-section__banner__header--orange"> </div>
              <div class="page__hero-section__banner__header--green"> </div>
              <div class="page__hero-section__banner__header--search"> </div>
            </div>
            <iframe src="https://www.youtube.com/embed/6Czd1Yetaac" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="page__works-section my-4 ">
    <div class="container">
      <div class="row">
        <div class="col-md-4 page__works-section__wrapper">
          <div class="page__works-section__card">
            <div class="page__works-section__card__circle">
              <div class="page__works-section__card__circle__inside">
                <div class="page__works-section__card__circle__inside__icon">
                  <fa-icon [icon]="faList" class="page__works-section__card__circle__inside__icon--fontawesome"></fa-icon>
                </div>
              </div>
            </div>
            <p class="page__works-section__card__title">
              O  porque 
            </p>
            <p class="page__works-section__card__description">
              Em qualquer projeto é comum termos diverças versões, as famosas Final1, Final_2, FinalEdition45 e AgoraVai-2. 
              Pensando nesses casos como tambem o compartilhamento desse dado de forma segura e precisa o git cria um ambiente desentralizado
              de troca de arquivos e criação comunitária.
            </p>
          </div>
        </div>
        <div class="col-md-4 page__works-section__wrapper">
          <div class="page__works-section__card">
            <div class="page__works-section__card__circle">
              <div class="page__works-section__card__circle__inside">
                <div class="page__works-section__card__circle__inside__icon">
                    <fa-icon [icon]="faCode" class="page__works-section__card__circle__inside__icon--fontawesome"></fa-icon>
                </div>
              </div>
            </div>
            <p class="page__works-section__card__title">
              O  para o que
            </p>
            <p class="page__works-section__card__description">
              Seu uso mais convencional é o trabalho em equipe para desenvolvimento de algum projeto onte existem constante mudança dentro da mesma arvore de arquivos.
              Com isso, mesmo que duas pessoas mexam em uma linha de código é possivel identificar a mudança mais recente e fazer um alinhamento de informações, sem quebrar toda a arvore de informações.
            </p>
          </div>
        </div>
        <div class="col-md-4 page__works-section__wrapper">
          <div class="page__works-section__card">
            <div class="page__works-section__card__circle">
              <div class="page__works-section__card__circle__inside">
                <div class="page__works-section__card__circle__inside__icon">
                    <fa-icon [icon]="faCloud" class="page__works-section__card__circle__inside__icon--fontawesome"></fa-icon>
                </div>
              </div>
            </div>
            <p class="page__works-section__card__title">
              O como
            </p>
            <p class="page__works-section__card__description">
              O git é uma ferramenta que funciona de forma local na sua maquina. 
              Entretanto a forma mais comum de ser utilizada atualmente é compartilhando sua versão da arvore de dados com um repositório que esteja na WWW. 
              Isto é, para compartilharmos de forma mais dinâmica podemos utilizar repositios onlines como o <a href="https://github.com">  Github</a>, <a href="https://gitlab.com/"> GitLab</a> ou solução inhouse como o <a href="https://gogs.io">  Gogs </a>. 
              Como também <a href="https://alternativeto.net/software/github/">diversos outros respositórios onlines</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__only-text-section background-light">
    <div class="container">
      <div class="row py-5">
        <div class="col-12">
          <div class="page__only-text-section__content">
            <h2 class="page__title  mb-5">
              Git Flow ( Fluxo de trabalho)
            </h2>
            <p> 
              Gitflow Workflow é um design de fluxo de trabalho Git que foi publicado e popularizado pela primeira vez por <a href="https://nvie.com/posts/a-successful-git-branching-model/"> Vincent Driessen</a>  no nvie. 
              O Gitflow Workflow define um modelo de ramificação rigoroso projetado com base no lançamento do projeto. 
              Isto oferece uma estrutura robusta para gerenciar projetos maiores e com grandes equipes.
              No nosso cazo é importante pegar alguns conceitos e utilizar em nossos projetos.
            </p>
            <p>
              Um conseito importante dessa estrutura é a forma como gerenciamos a branch <strong> Master </strong> funciona.
              Em vez da única branch principal, este fluxo de trabalho usa duas ramificações para registrar o histórico do projeto. 
              A <strong> branch principal</strong> armazena o histórico do lançamento oficial, e a ramificação de <strong> desenvolvimento</strong> serve como uma ramificação de integração para recursos. 
              Também é conveniente marcar todas as confirmações na branch principal com um número de versão.
            </p>
            <div class="row justify-content-center ">
              <div class="col-lg-8 col-sm-12 page__only-text-section__content--image">
                <img src="https://wac-cdn.atlassian.com/dam/jcr:2bef0bef-22bc-4485-94b9-a9422f70f11c/02%20(2).svg?cdnVersion=1310" alt="">
              </div>
            </div>  
            <p class="my-3">
              Uma vez separado dessa forma as novas funcionalidades da aplicação são direcionadas a partir da branch de desenvolvimento.
              Quando um recurso é concluído, ele é mesclado de volta na ramificação de desenvolvimento. 
              Desta forma o fluxo fica assim:
            </p>  
            <div class="row justify-content-center ">
              <div class="col-lg-8 col-sm-12 page__only-text-section__content--image mb-3">
                <img src="https://wac-cdn.atlassian.com/dam/jcr:b5259cce-6245-49f2-b89b-9871f9ee3fa4/03%20(2).svg?cdnVersion=1310" alt="">
              </div>
            </div> 
            <p>
              Tendo isso em mente podemos agora definir também uma forma de nomear as branchs para melhor legibilidade entre os devs.
              Quando precisamos de fato entender o que cada branch no git precisa fazer.                       
            </p>      
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <h2 class="page__only-text-section__title">
                  Feature Breach 
                </h2>
                <p>
                  Quando estamos criando uma nova funcionalidade dentro da nossa ferramenta nomeamos a branch da seguinte forma:
                </p>
                <pre class="page__only-text-section__content--code">

    git checkout &#45;b feature&#47;minha-nova-feature-x
                </pre>
              </div>
              <div class="col-lg-6 col-sm-12">
                <h2 class="page__only-text-section__title">
                  Fix Breach 
                </h2>
                <p>
                  Quando estamos resolvendo um bug de alguma funcionalidade dentro da nossa ferramenta nomeamos a branch da seguinte forma:
                </p>
                <pre class="page__only-text-section__content--code">

    git checkout &#45;b fix&#47;correcao-error-da-feature-x
                </pre>
              </div>
            </div>   
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <h2 class="page__only-text-section__title">
                  Refactor Breach 
                </h2>
                <p>
                  Quando estamos refatorando o código de alguma funcionalidade dentro da nossa ferramenta nomeamos a branch da seguinte forma:
                </p>
                <pre class="page__only-text-section__content--code">

    git checkout &#45;b refactor&#47;refatoracao-na-feature-x
                </pre>
              </div>
              <div class="col-lg-6 col-sm-12">
                <h2 class="page__only-text-section__title">
                  Test Breach 
                </h2>
                <p>
                  Quando estamos criando um test para alguma funcionalidade dentro da nossa ferramenta nomeamos a branch da seguinte forma:
                </p>
                <pre class="page__only-text-section__content--code">

    git checkout &#45;b test&#47;teste-para-feature-x
                </pre>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__text-and-terminal-section">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-6 col-sm-12">
          <div class="page__text-and-terminal__title">
            Casos de uso
          </div>
          <div class="page__text-and-terminal__description">
            Nessa seção temos alguns casos de usos que fazem parte do dia a dia de desenvolvimento de software.
            Lembre-se sempre que não existe necessidade de decorar esses comandos crie apenas um bloco de notas com alguns desses comandos 
            para que em um momento de dificuladade você possa acessar essa informação de um jeito prático. 
            De fato o uso continuo do terminal vai facilitar muito sua acimilação desse conteúdo.
          <br><br>
            <p>
              Tente fazer os disafios a baixo antes de ver as soluções.<br> Boa sorte dev.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="page__text-and-terminal__bash">
            <div class="page__text-and-terminal__bash__header row background-light">
              <div class="page__text-and-terminal__bash__header--close"> </div>
              <div class="page__text-and-terminal__bash__header--other"> </div>
              <div class="page__text-and-terminal__bash__header--other"> </div>
              <div class="page__text-and-terminal__bash__header--title" style="width: 75%;"> </div>
            </div>
            <pre class="page__text-and-terminal__bash--code">
              
  bash&#36; git init
  bash&#36; git clone
  bash&#36; git checkout -b new_branch
  bash&#36; git add
  bash&#36; git add .
  bash&#36; git rm
  bash&#36; git commit -m
  bash&#36; git branch -m 
  bash&#36; git diff
  bash&#36; git cherry
  bash&#36; git clean -fd
  bash&#36; git pull
  bash&#36; git rebase
  bash&#36; git merge
  bash&#36; git tag
  bash&#36; git remote set-url origin 
  bash&#36; git blame
  bash&#36; git stash 
  bash&#36; git stash pop
            </pre>            
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="page__use-case-section">
    <div class="container">
      <div class="row py-5">
        <div class="col-12">
          <ngb-accordion [closeOthers]="true">
            <ngb-panel id="case-0">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon>  Entrei em um squad que já tem um projeto rodando o que faço?              
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="page__use-case-section__content"> 
                  É muito comum assim que entramos em um projeto a equipe já ter criado um repositório, com os dados do projeto.
                  E para adicionarmos esses dados na nossa máquina local precisamos clonar esse repositório para nossa máquina. 
                  Assim como demosntrado no terminal:
                </div>
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">

  bash&#36; git clone git&#64;gitlab.com&#58;FabioRNobrega&#47;git-from-0-to-1.git
                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
            <ngb-panel id="case-1">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon>  Quando sua equipe muda de repositório. O que fazer?                      
              </ng-template>
              <ng-template ngbPanelContent>
                 <div class="page__use-case-section__content"> 
                   Assim como existe o gitLab e o gitHub, existem outros agregadores de repositório git online. 
                   E as vezes precisamos mudar a casa do nosso cógido, para continuar nosso projeto. Para isso temos dois jeitos, via terminal.
                   No primeito jeito você perde os dados anteriores que estavam no github por exemplo histórico de commits.
                   Já no segundo caso vc salva esses dados e passa eles para o gitlab. 
                </div>
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">
                    
  bash&#36; Jeito 1
  bash&#36; git remote set-url origin http://gitlab.com/FabioRNobrega/git-from-0-to-1.git 

  bash&#36; Jeito 2
  bash&#36; git remote rename origin old-origin
  bash&#36; git remote add origin http://gitlab.com/FabioRNobrega/git-from-0-to-1.git
  bash&#36; git push -u origin --all
                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
            <ngb-panel id="case-2">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon> Quando nomeio minha branch errado. O que fazer?                
              </ng-template>
              <ng-template ngbPanelContent>
                 <div class="page__use-case-section__content"> 
                   As vezes podemos nomear a nossa branch errada por erro de digitação ou até mesmo ao terminar nossa tarefa percebemos que não era uma feature e sim uma refatoração.
                   Para isso podemos antes de dar push para a branch development. Usar o seguinte comando                    
                </div>
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">
                    
    bash&#36; git status
    bash&#36; No ramo feature/card-news
    bash&#36; git branch -m refactor/card-news-button-more-info
    bash&#36; git status
    bash&#36; No ramo refactor/card-news-button-more-info
                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
            <ngb-panel id="case-3">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon>  Quando acabo mudando muitos arquivos e esqueci de commitar meu processo. O que fazer?                    
              </ng-template>
              <ng-template ngbPanelContent>
                 <div class="page__use-case-section__content"> 
                   É importante deixar seus commites bem nomeados e estruturados para deixar mais fácil para outro dev ou até seu gerente de projeto, poder visualizar seu processo de trabalho.
                   Para isso podemos usar a forma como nomeamos os commits até a ordem que fazemos dentro da nossa branch. É muito comum fazermos a tarefa toda e depois comitarmos no final. 
                   Nessa situação acabamos com muitas mudanças para staged. Nesse caso podemos subir de forma separada cada arquivo ou grupo de arquivos para demonstrar nosso processo. 
                   <br>
                    <strong> Nomeclatura de Commits</strong>
                    <ul>
                      <li> "(feature) novo componente card de notícias" </li>
                      <li> "(refactor) refatoração do campo mais informações do card de notícia" </li>
                      <li> "(fix) função toggle no botão mais informações </li>
                      <li> "(test) para função toggle e snapshot component card noticias" </li>
                    </ul>
                </div>
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">
                    
  bash&#36; git status
  Changes not staged for commit:
    modificado: myblog-fe/src/app/components/card/card-news.component.html
    modificado: myblog-fe/src/app/components/card/card-news.component.scss
    modificado: myblog-fe/src/app/components/card/card-news.component.spec.ts
    modificado: myblog-fe/src/app/components/card/card-news.component.ts
    modificado: myblog-fe/src/app/components/card/card-news.module.ts

  bash&#36; git add myblog-fe/src/app/components/card/card-news.component.html myblog-fe/src/app/components/card/card-news.component.scss
  
  bash&#36; git status 
  Mudanças a serem submetidas:
  modificado: myblog-fe/src/app/components/card/card-news.component.html
  modificado: myblog-fe/src/app/components/card/card-news.component.scss
  Changes not staged for commit:
  modificado: myblog-fe/src/app/components/card/card-news.component.spec.ts
  modificado: myblog-fe/src/app/components/card/card-news.component.ts
  modificado: myblog-fe/src/app/components/card/card-news.module.ts

  bash&#36; git commit -m "(feature) novo componente card de notícias"

  bash&#36; git add myblog-fe/src/app/components/card/card-news.component.ts  myblog-fe/src/app/components/card/card-news.module.ts
  bash&#36; git commit -m "(refactor) refatoração do campo mais informações do card de notícia"
  
  bash&#36; git add  modificado: myblog-fe/src/app/components/card/card-news.component.spec.ts
  bash&#36; git commit -m "(test) para função toggle e snapshot component card noticias"

  bash&#36; git push

                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
            <ngb-panel id="case-4">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon>  Quando você esta refatorando um código  deveria mudar apenas A mais B para de funcionar?                
              </ng-template>
              <ng-template ngbPanelContent>
                 <div class="page__use-case-section__content"> 
                   Nesses casos podemos usar o comando diff para fericifar as mudanças que foram efetuadas e lendo nosso próprio código tentar entender 
                    mechemos em algo a mais.
                    <br> OBS: Precione <code> Q </code> para sair do diff.
                </div>
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">
                    
  bash&#36; git diff
    --- a/myblog-fe/src/app/app.component.html
    +++ b/myblog-fe/src/app/app.component.html
    &#64;&#64; -449,7 +449,8 &#64;&#64;
        modificado: myblog-fe/src/app/components/card/card-news.component.ts
        modificado: myblog-fe/src/app/components/card/card-news.module.ts
    
    -  bash&#36; git add myblog-fe/src/app/components/card/card-news.component.html yblog-fe/src/app/components/card/card-news.compon
    +  bash&#36; git add myblog-fe/src/app/components/card/card-news.component.html myblog-fe/src/app/components/card/card-news.compo
    +  
      bash&#36; git status 
      Mudanças a serem submetidas:
      modificado: myblog-fe/src/app/components/card/card-news.component.html
    &#64;&#64; -457,9 +458,18 &#64;&#64;
      Changes not staged for commit:
      modificado: myblog-fe/src/app/components/card/card-news.component.spec.ts
      modificado: myblog-fe/src/app/components/card/card-news.component.ts
    -  modificado: myblog-fe/src/app/components/card/card-news.module.t
    +  modificado: myblog-fe/src/app/components/card/card-news.module.ts
    +

    END

                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
            <ngb-panel id="case-5">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon>  Uma parte do código foi mudada e ninguém sabe quem foi?                   
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="page__use-case-section__content"> 
                  Mesmo tendo diverças ferramentas de interface interativa do git é sempre bom sabermos como fazer isso sem ter que instalar uma dependencia externa.
                  Para isso usamos o comando <code> blame -L </code> acompanhado do range , ou seja de que linha até que linha você quer buscar <code> 14,14 </code> e em seduida
                  o caminho do arquivo <code> src/app/app.component.ts </code>.
                </div>                
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">
                  
    bash&#36; git blame &#45;L 14&#44;14 src&#47;app&#47;app&#46;component&#46;ts
    bash&#36; 3d339b20 &#40;FabioRNobrega 2020&#45;10&#45;24 15&#58;44&#58;04 &#58;0300 14&#41;   faCloud &#61; faCloud&#59;

                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
            <ngb-panel id="case-6">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon>  Quando você abre um MR e da conflito o que fazer?               
              </ng-template>
              <ng-template ngbPanelContent>
                 <div class="page__use-case-section__content"> 
                   Esse é o caso mais rotineiro de todos e sabendo os comandos certos e entendendo os motivos do conflito fica fácil resolver.
                   Um merge nada mais é que um diff entre commits que devem ser unidos levando em concideração seu hash e sua data de modificação. 
                   Neste caso a melhor forma de resolver um conflito de Merge Request é fazendo um <code> rebase </code>. 
                   um rebase rearruma os commits por ordem cronológica na sua branch local. 
                   Exitem algumas formas de fazer isso, a que escolhemos ensinar é a <code> git pull --rebase origin developer </code>. 
                   Onde atualizamos nossa branch corrente com a nossa branch principal e ao mesmo tempo reoganizamos os commits. 
                   Dessa forma garantimos a consistência da informação e da fidelidade do nosso histórico de commits.
                </div>
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">
                    
    bash&#36;git pull --rebase origin developer
                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
            <ngb-panel id="case-7">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon>  Quero desfazer ou salvar as mudanças nesse commit e começar de novo. O que fazer?                 
              </ng-template>
              <ng-template ngbPanelContent>
                 <div class="page__use-case-section__content"> 
                   As vezes queremos voltar para o estado inicial da nossa branch mas não queremos perder o que já fizemos. 
                   Para isso usamos o comando <code> git stash </code>. Com isso ele vai quardar suas alteraçãos em uma lista paralela e caso vc queira voltar é só usar o comando <code> git stash pop</code>. 
                   Com isso podemos até mudar de branch que nossas mudanças não vão se perder. 
                </div>
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">
                    
    bash&#36; git stash
    Saved working directory and index state WIP on feature/use-cases-section: 3d339b2 (feature) git history and WWW
    HEAD is now at 3d339b2 (feature) git history and WWW


    bash&#36; git stash pop
    No ramo feature/use-cases-section
    Changes not staged for commit:
    (utilize "git add 	&#60;arquivo&#62;..." para atualizar o que será submetido)
    (utilize "git checkout -- &#60;arquivo&#62;..." para descartar mudanças no diretório de trabalho)

      modificado: src/app/app.component.html
      modificado: src/app/app.component.scss

    nenhuma modificação adicionada à submissão (utilize "git add" e/ou "git commit -a")
    Dropped refs/stash&#64;&#123;0&#125; (50d6772c348d2558903b70c67590ea5dedb7fab6)


                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
            <ngb-panel id="case-8">
              <ng-template ngbPanelTitle>                    
                <fa-icon [icon]="faChevronDown" class="mr-2"></fa-icon>  Quero ir para um commit específico da minha branch. O que fazer?                    
              </ng-template>
              <ng-template ngbPanelContent>
                 <div class="page__use-case-section__content"> 
                   As vezes queremos tentar uma abordagem diferente para resolver determinado problema sem afetar uma funcionalidade já existente em um commit atual.
                   Para fazermos isso podemos ir para um commit anterior a nova funcionalidade e a partir dela criar nossa prova de conceito e caso estejamos certos podemos subir como uma nova modificação.
                   Para isso podemos ver o nosso log e selecionar o commit anterior a nossa mudança vigente com o comando <code> git log --oneline</code>. 
                   Depois demos um checkout para o commit que queremos acessar. 
                   Feito as mudanças precisamos apartir dele criar um novo commit ou puxar uma nova branch. 
                </div>
                <div class="my-5">
                  <div class="page__text-and-terminal__bash__header row background-light">
                    <div class="page__text-and-terminal__bash__header--close"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--other"> </div>
                    <div class="page__text-and-terminal__bash__header--title"> </div>
                  </div>
                  <pre class="page__text-and-terminal__bash--code" style="background-color: black;">
                    
    bash&#36; git log --oneline
    3d339b2 (feature) git history and WWW
    2af6e71 (feature) first 5 use cases done
    023659d Merge branch 'feature/git-flow-section' into 'master'
    92dfb89 (feature) git flow section data
    e7db406 Update README.md
    299fddc Merge branch 'refactor/home-page-for-git-class' into 'master'
    4c275ab (feature) install ng-bootstrap and create accordions for use cases
    32cc9d3 (refactor) new layout for git lesson
    8b82b5c (refactor) readme for git lesson
    7f2978e Merge pull request #3 from FabioRNobrega/feature/home-page
    afe8133 (fix) delete duplicated redme and finish home
    379147e (feature) first home page style
    5c233c2 Merge pull request #2 from FabioRNobrega/feature/font-awesome
    ff74a11 (feature) install fontawesome
    af74965 Merge pull request #1 from FabioRNobrega/feature/setup
    b8e3f86 (feature) update readme
    ed2babf (feature) install bootstrap
    9b70334 (feature) setup Angular
    3b75cbc Initial commit
    ash&#36; git checkout 2af6e71



                  </pre>            
                </div>                
              </ng-template>
            </ngb-panel>
          </ngb-accordion>    
        </div>
      </div>
    </div>
  </div>

  <div class="page__only-text-section background-light">
    <div class="container">
      <div class="row py-5">
        <div class="col-12">
          <div class="page__only-text-section__content">
            <h4 class="my-2"> Ficou curioso e quer saber mais? Vejá alguns links para mais leituras.</h4>
            <ul>
              <li>Casa </li> 
              <li><a href="https://git-scm.com/doc">Documentação oficial do GIT</a></li>
              <li><a href="https://github-production-release-asset-2e65be.s3.amazonaws.com/192053102/126c4200-efc2-11ea-900f-e35de69492c1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20201025%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20201025T193002Z&X-Amz-Expires=300&X-Amz-Signature=69fcebac99661acb45005ac67823abfb6719b5235d26864f323a009778af612a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=192053102&response-content-disposition=attachment%3B%20filename%3Dprogit_v2.1.26.epub&response-content-type=application%2Foctet-stream">Livro Ofical GIT Pro [parcialmente traduzido]</a></li>
              <li> <a href="https://nvie.com/posts/a-successful-git-branching-model/"> A Successful Git Branching Model </a></li>
              <li> <a href="https://www.atlassian.com/br/git/tutorials/comparing-workflows/gitflow-workflow"> Fluxo de trabalho de Gitflow </a></li>
              <li> <a href="https://ohshitgit.com"> Oh Shit git!</a></li>
              <li><a href="https://guides.github.com/introduction/flow/"> Github Guides - Flow</a></li>
              <li><a href="https://www.pixelstech.net/article/1549115148-git-reset-vs-git-revert"> Aprendendo fazer um Git Revert</a></li>
            </ul>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__footer-section">
    <div class="container">
      <div class="row py-5">
        <div class="col-12">
          <div class="page__footer-section__content">
            Page Developer by
            <a href="https://gitlab.com/FabioRNobrega/git-from-0-to-1" class="page__footer-section__content--link">Fábio R. Nóbrega</a>
            and 
            <a href="https://gitlab.com/FabioRNobrega/git-from-0-to-1" class="page__footer-section__content--link"> Danilo Collares </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

