
@import "src/styles.scss";


/deep/ .card {
    background-color: $color-tertiary;
  }
  
/deep/ .card-body {
    color: black;
    background: #f4f5f6;
}

/deep/ .btn {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

/deep/ .btn:focus, .btn.focus{
    text-decoration: none;
    box-shadow: none;
}
/deep/ .btn-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

/deep/ .btn-link:hover {
    color: $color-primary; 
    text-decoration: none;
}

/deep/ .btn-link:focus {
    text-decoration: none;
}
