/* You can add global styles to this file, and also import other style files */

$color-primary: #F34C28 ;
$color-primary-hover: rgb(211, 55, 20);
$color-secundary: #1c1c1c;
$color-tertiary:#434343;
$content-base-box-shadow: rgba(#F34C28, 0.1);
$font-base-color: #ffff;
$font-base: "Montserrat", "Helvetica", "Arial", sans-serif;

body {
    font-family: $font-base;
    background-color: $color-secundary;
}

.background-light {
    background-color: $color-tertiary;
  }
